<div class="module">
  You have <strong><%= @orders.count %></strong> orders to fulfill

<table class="table table-bordered table-striped ">
  <thead>
  <tr>
    <td>Customer</td>
    <td>Placed</td>
    <td>Total</td>
    <td>View</td>
  </tr>
</thead>
<tbody>
  <tr>
  <% @orders.each do |order| %>
  <td><%= order.customer.first_name + " " + order.customer.last_name  %></td>
  <td>Created at: <%= order.created_at.strftime("%m/%d/%Y") %></td>
  <td><%= number_to_currency order.total %></td>
  <td><%= link_to 'Show', order %></td>
</tr>
  <% end %>
</tbody>
</table>
</div>

<div class="module">
  <% if ! @unavailable_inventory.any? %>
  All of your products are stocked!
  <% else %>
  You are currently out of the following products:
  <table class="table table-bordered table-striped ">
      <thead>
        <tr>
          <td>Name</td>
          <td>View</td>
        </tr>
      </thead>
      <tbody>
        <% @unavailable_inventory.each do |ua_item| %>
          <tr>
            <td><%= ua_item.name %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
  <% end %>
</div>

<div class="module">
<h3>Product Popularity by State</h3>
<% @states_with_orders.each do |state| %>
<table class="table table-bordered table-striped ">
  <thead>
    <tr><th colspan="2"><h4><%= state[1] %></h4></th></tr>
    <tr><th>Product</th>
    <th>Quantity</th>
  </tr>
  </thead>
<% ReportingHelper.state_report(state).each do |report_line|%>
<tr>
  <td><%= report_line[0] %></td>
  <td><%= report_line[1] %></td>
</tr>
<%end%>
</table>
</table>
<% end %>
</div>

<%= will_paginate @orders %>
