<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @order.notes %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.first_name + " " + @order.customer.last_name %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @order.order_status.status %>
</p>


<table class="table">
  <tr>
    <td>Item</td><td>Quantity</td>
  </tr>
<% @order.order_contents.each do |content| %>
<tr>
  <td><%= content.item.name %></td>
  <td><%= content.qty %></td>
</tr>
<% end %>
</table>


<%= if current_customer.try(:admin?) then link_to 'Edit', edit_order_path(@order) end %> |
<%= link_to 'Back', orders_path %>
