<!DOCTYPE html>
<html>
  <head>
    <title>CapstonePrototype</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <nav class="navbar navbar-light">
      <span class="navbar-brand">Admin Console</span>
      <ul class="navbar-menu">
        <li><%= link_to "New Item", new_item_path %> </li>
        <li>Item Management</li>
      </ul>
    </nav>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</body>
</html>
